.skills {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 851px;
    justify-content: center;
    margin: 16px auto 0 auto;
    position: relative;
}

.line {
    content: '';
    height: 39px;
    margin-right: auto;

}

.skillname {
    position: absolute;
    right: 102%;
    max-width: 376px;
    text-align: end;
    color: #000;
}

@media (max-width: 1050px) {
    .skills {
        max-width: 500px;
    }
}

@media (max-width: 674px) {
    .skills {
        max-width: 400px;
    }
}

@media (max-width: 568px) {
    .skills {
        max-width: 270px;
    }
}

@media (max-width: 435px) {
    .skills {
        max-width: 200px;
    }
}

@media (max-width: 350px) {
    .skillname {
        right: 0;
        left: 10%;
        text-align: start;
        color: #fff;
    }
}