.header {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(20, 20, 20, 0.49);
    padding: 23px 0;
}

.container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav {
        display: flex;
        list-style: none;
        margin: 0;

        .nav__link {
            margin-right: 35px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}